name: Publish to bun

on:
  release:
    types: [published]
  workflow_run:
    workflows: ["Manual Release"]
    types: [completed]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Typecheck
        run: bun run typecheck

      - name: Publish to npm
        run: bun publish --access public
